.weather-page h2 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

.cities-list-content {
  margin-bottom: 24px;
  max-width: 360px;
}

.weather-card {
  width: 360px;
  border-radius: 12px;
  padding: 12px 24px;
  display: grid;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 2;

  &_loader {
    height: 250px;
    border: 2px solid #212121;
    background: #2f2f2f;
    box-shadow: inset 2px 2px 5px rgba(59, 57, 57, 0.5), 1px 1px 5px rgb(21, 21, 21);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
                      270deg,
                      rgba(87, 87, 87, 0.05) 0,
                      rgba(61, 61, 61, 0.2) 20%,
                      rgba(35, 35, 35, 0.5) 60%,
                      rgba(86, 85, 85, 0)
      );
      animation: shimmer 2.3s infinite;
      content: "";
    }
  }

  &_day {
    background: rgba(115, 172, 208, 0.6);
    box-shadow: inset 2px 2px 5px rgba(59, 57, 57, 0.5), 1px 1px 5px rgb(21, 21, 21);
    //backdrop-filter: blur(1.8px); TODO: включать если туман или смог
    //-webkit-backdrop-filter: blur(1.8px);
  }

  &_night {
    background: rgba(65, 77, 136, 0.6);
    box-shadow: inset 2px 2px 5px rgba(59, 57, 57, 0.5), 1px 1px 5px rgb(21, 21, 21);
    //backdrop-filter: blur(1.8px);
    //-webkit-backdrop-filter: blur(1.8px);
    color: #ffffff;
  }

  h3 {
    margin: 0;
    text-align: center;
  }

  time {
    text-align: center;
    margin-bottom: 12px;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.future-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 24px;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__weather-line {
    display: flex;
    gap: 4px;
    align-items: center;

    p {
      display: flex;
      gap: 2px;
      align-items: center;
    }
  }
}

.future-weather-icon {
  width: 45px;
  height: 45px;
  background: #fff;
}

.weather-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  right: 24px;
  z-index: 1;

  &_day {
    background: #f8bf03;
  }

  &_night {
    background: #fa710f;
  }

  &__info {
    display: flex;
    align-items: center;

    span {
      grid-row: -1/1;
    }
  }
}

.weather-content {
  position: relative;
  width: fit-content;
}

.icon-arrow-top,
.icon-arrow-bottom {
  width: 15px;
  height: 15px;
  background: #fff;
}